<!DOCTYPE html>
 <html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>中国人寿陕西分公司大客户查询</title>
	<meta name="description" content="这是一个 index 页面"/>
	<meta name="keywords" content="index"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="icon" type="image/png" href="/i/favicon.png"/>
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="stylesheet" href="/css/amazeui.min.css" />
	<link rel="stylesheet" href="/css/app.css"/>
	<style>
		.am-panel-bd img{
			width: 150px;
			height: 100px;
		}
	</style>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/echo.min.js"></script>
</head>

<body data-type="widgets" class="theme-white">
	<div class="am-g tpl-g">
		<!-- 头部 -->
		<header>
			<!-- logo -->
			<div class="am-fl tpl-header-logo">
				<a href="javascript:;"><img src="/img/logo.png" alt=""/></a>
			</div>
			<!-- 右侧内容 -->
			<div class="tpl-header-fluid">
				<!-- 其它功能-->
				<div class="am-fr tpl-header-navbar">
					<ul>
						<!-- 欢迎语 -->
						<li class="am-text-sm tpl-header-navbar-welcome">
							<a href="javascript:;">欢迎你</a>
						</li>

						<!-- 新邮件 -->
						<!-- 退出 -->
					</ul>
				</div>
			</div>

		</header>
		<!-- 内容区域 -->
		<div class="tpl-content-wrapper active">
			<div class="row-content am-cf">
				<div class="row">
					<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
						<div class="widget am-cf">
							<div class="widget-head am-cf">
								<div class="widget-title  am-cf">文章列表</div>


							</div>
							<div class="widget-body  am-fr">
								<div class="am-panel am-panel-default">
								  <div class="am-panel-hd">面板标题</div>
								  <div class="am-panel-bd">
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
								  </div>
								</div>
								<div class="am-panel am-panel-default">
								  <div class="am-panel-hd">面板标题</div>
								  <div class="am-panel-bd">
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
								  </div>
								</div>
								<div class="am-panel am-panel-default">
								  <div class="am-panel-hd">面板标题</div>
								  <div class="am-panel-bd">
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
								  </div>
								</div>
								<div class="am-panel am-panel-default">
								  <div class="am-panel-hd">面板标题</div>
								  <div class="am-panel-bd">
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
									<img src="/img/loading.gif" alt="Photo" data-echo="/img/k.jpg"/>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	echo.init({
	  offset: 100,
	  throttle: 250,
	  unload: false,
	  callback: function (element, op) {
	    console.log(element, 'has been', op + 'ed')
	  }
	});
	</script>
</body>

</html>
